PORT=3000
APP_ORIGINS=http://localhost:8081,https://app.seudominio.com.br
NUVEMSHOP_STORE_ID=
NUVEMSHOP_ACCESS_TOKEN=
NUVEMSHOP_USER_AGENT=StickAdesivosApp (https://www.stickadesivos.com.br)
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_NUVEMSHOP_ORIGINS=https://www.stickadesivos.com.br,https://stickadesivos.lojavirtualnuvem.com.br
